### Q1. List any five functions of the pandas library with execution.

#### Ans:
1. read_csv: This function is used to read a CSV file and convert it into a pandas DataFrame object.
2. head : head(n) is used to return the first n rows of a dataset.
2. describe: This function provides descriptive statistics for the numerical columns in a DataFrame.
4. DataFrame: This function is used to create a DataFrame object from a variety of data sources, such as lists, dictionaries, NumPy arrays, and other pandas data structures.
5. iloc: This function is used for selecting rows and columns from a DataFrame based on their integer position. It takes two arguments, the first for the row index and the second for the column index.

In [1]:
import pandas as pd
data = pd.read_csv('Titanic_Data.csv')
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [3]:
data = {'Name': ['John', 'Sarah', 'Peter'],
        'Age': [25, 30, 35],
        'Gender': ['Male', 'Female', 'Male']}
        
df = pd.DataFrame(data)
print(df)

    Name  Age  Gender
0   John   25    Male
1  Sarah   30  Female
2  Peter   35    Male

In [4]:
print(df.iloc[1])

Name       Sarah
Age           30
Gender    Female
Name: 1, dtype: object

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

#### Ans:

In [5]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:
new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2+1)
df = df.set_index(new_index)
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.


#### Ans:

In [7]:
def sum_first_three(df):
    total = 0
    for value in df['Values'].iloc[:3]:
        total += value
        
    print('The sum of the first three values is:', total)
    

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

sum_first_three(df)

The sum of the first three values is: 60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

#### Ans:

In [8]:
def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

data = {'Text': ['AB CD EF', '1 - 2 - 3', 'sample abc def']}
df = pd.DataFrame(data)

df = count_words(df)

print(df)

             Text  Word_Count
0        AB CD EF           3
1       1 - 2 - 3           5
2  sample abc def           3

### Q5. How are DataFrame.size() and DataFrame.shape() different?

#### Ans:
DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. This method returns a single integer value.
DataFrame.shape returns a tuple of integers that represent the dimensions of the DataFrame. The first element of the tuple is the number of rows, and the second element is the number of columns.

In [9]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
df = pd.DataFrame(data)

size = df.size
print('Size:', size)

shape = df.shape
print('Shape:', shape)

Size: 9
Shape: (3, 3)

### Q6. Which function of pandas do we use to read an excel file?

#### Ans:

In Pandas, we use the read_excel() function to read data from an Excel file. This function creates a DataFrame from the data in the Excel file, with one row per row in the Excel sheet.

syntax: df = pd.read_excel('example.xlsx')

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.


#### Ans:

In [10]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])

    return df

data = {'Email': ['john.doe@example.com', 'xyz.123@example.com', 'abc.123@example.com']}
df = pd.DataFrame(data)

df = extract_username(df)

print(df)

                  Email  Username
0  john.doe@example.com  john.doe
1   xyz.123@example.com   xyz.123
2   abc.123@example.com   abc.123

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

### For example, if df contains the following values:

&nbsp;&nbsp;&nbsp; A &nbsp; B &nbsp; C

0 &nbsp; 3 &nbsp; 5 &nbsp; 1

1 &nbsp; 8 &nbsp; 2 &nbsp; 7

2 &nbsp; 6 &nbsp; 9 &nbsp; 4

3 &nbsp; 2 &nbsp; 3 &nbsp; 5

4 &nbsp; 9 &nbsp; 1 &nbsp; 2 

### Your function should select the following rows: A B C

1 &nbsp; 8 &nbsp; 2 &nbsp; 7

4 &nbsp; 9 &nbsp; 1 &nbsp; 2

### The function should return a new DataFrame that contains only the selected rows.


#### Ans:

In [11]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

import pandas as pd
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})

selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

#### Ans:

In [12]:
def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    
    print(f"Mean: {mean_value}")
    print(f"Median: {median_value}")
    print(f"Standard Deviation: {std_value}")

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50, 60, 65]})

calculate_stats(df)

Mean: 39.285714285714285
Median: 40.0
Standard Deviation: 20.499709637897197

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

#### Ans:

In [13]:
def add_moving_average(df):
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    df['MovingAverage'] = ma
    
    return df

df = pd.DataFrame({
    'Date': pd.date_range(start='2023-04-01', end='2023-04-30'),
    'Sales': [10, 20, 15, 30, 25, 35, 40, 50, 45, 55, 60, 65, 70, 80, 75, 85, 90, 95, 100, 110, 105, 120, 130, 125, 140, 150, 123, 143, 78, 98]
})

df = add_moving_average(df)

print(df)

         Date  Sales  MovingAverage
0  2023-04-01     10      10.000000
1  2023-04-02     20      15.000000
2  2023-04-03     15      15.000000
3  2023-04-04     30      18.750000
4  2023-04-05     25      20.000000
5  2023-04-06     35      22.500000
6  2023-04-07     40      25.000000
7  2023-04-08     50      30.714286
8  2023-04-09     45      34.285714
9  2023-04-10     55      40.000000
10 2023-04-11     60      44.285714
11 2023-04-12     65      50.000000
12 2023-04-13     70      55.000000
13 2023-04-14     80      60.714286
14 2023-04-15     75      64.285714
15 2023-04-16     85      70.000000
16 2023-04-17     90      75.000000
17 2023-04-18     95      80.000000
18 2023-04-19    100      85.000000
19 2023-04-20    110      90.714286
20 2023-04-21    105      94.285714
21 2023-04-22    120     100.714286
22 2023-04-23    130     107.142857
23 2023-04-24    125     112.142857
24 2023-04-25    140     118.571429
25 2023-04-26    150     125.714286
26 2023-04-27    123     127.571429
27 2023-04-28    143     133.000000
28 2023-04-29     78     127.000000
29 2023-04-30     98     122.428571

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

### For example, if df contains the following values:

&nbsp; &nbsp; **Date**

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

### Your function should create the following DataFrame:


 &nbsp; **Date**&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  **Weekday**

0 2023-01-01 &nbsp;&nbsp;&nbsp; Sunday

1 2023-01-02 &nbsp;&nbsp;&nbsp; Monday

2 2023-01-03 &nbsp;&nbsp;&nbsp; Tuesday

3 2023-01-04 &nbsp;&nbsp;&nbsp; Wednesday

4 2023-01-05 &nbsp;&nbsp;&nbsp; Thursday

### The function should return the modified DataFrame.
#### Ans:

In [14]:
def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07']})

df = add_weekday_column(df)

print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday
6 2023-01-07   Saturday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

#### Ans:

In [15]:
def select_date_range(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    
    return selected_rows

df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-02-28')})
df = select_date_range(df)
print(df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
#### Ans:

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. The standard way to import pandas is:

import pandas as pd

Here pd is the alias